@import '../../styles/reset.css';

.document-container {
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 31%);
    display: grid;
    place-items: center;
}

.document-title {
    padding: 4rem 7rem;
    border: 1px solid black;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 5rem;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}