/*
 * Makes font size scalable with user settings and 
 * sets root font size equal to 10px so that it's easier to control with rem units. 
 */
html {
    font-size: 62.5%;
}

/*
 * Use a better box model.
*/
*,
::before,
::after {
    box-sizing: border-box;
}

/*
 * - Correct the line height in all browsers.
 * - Prevent adjustments of font size after orientation changes in iOS.
*/

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* 
 * Body has a default margin of 8px in chromium which is usually not desirable.
 */
body {
    margin: 0;
}

/*
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}

/* 
 * Adjusts h1-h6 tags to be consistent with other typography elements
 */
h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
}

/*
 * Removes the border bottom in Chrome 57
 * Adjusts the correct text decoration across browsers.
 */
abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

/*
 * Resets several tags to standard typography elements
 */
pre, code, kbd, samp {
    font-family: inherit;
    font-size: 1rem;
}

/*
 * Removes gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/* 
 * Corrects the font weight in chrome, edge, and safari
 */
b, strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

/* 
 * prevents affecting the line height
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
 * iOS Safari requires a calculated font-size of 16px for inputs to prevent zoom on focus
 * This targets iOS specifically to ensure there's no zoom. 
 * There doesn't seem to be any other workaround, as any other option has caveats that are undesirable. 
 * Also makes other attributes consistent across browsers.
 */
select,
textarea,
optgroup,
button,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-size: 100%;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
}

/* 
 * Fixes overflow in IE / Edge
 */
button,
input {
    overflow: visible;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
}

/*
 *  Remove the inheritance of text transform in Edge and Firefox.
 *  1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
    text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
    box-shadow: none;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}